@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Login</h1>
        <form action="" method="post">
            <input type="button" id="Register" value="Register" onclick="@("window.location.href='" + @Url.Action("Register") + "'");" />
            <input type="button" id="Login" value="Login" onclick="@("window.location.href='" + @Url.Action("Login") + "'");" />
        </form>
    </div>
